* {
  margin: 0;
  padding: 0;;
}

body,
html {
  box-sizing: border-box;
  font-family: helvetica;
}

h1 {
  font-size: 3.6rem;
  text-align:center;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
}

.instruction {
  margin-bottom: 1rem;
}

.note {
  font-weight: bold;
  color: red;
  padding-bottom: 1rem;
}

p {
  margin-left: 1rem;
  line-height: 1.7rem;
}

.indented {
  padding-left: 2rem;
}